%h1
  = heading
- form_for(@story) do |f|
  = f.error_messages
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :disable_commenting
    = f.check_box :disable_commenting
  %p
    = f.label :disable_voting
    = f.check_box :disable_voting
  %p
    - #= recaptcha_tags
  %p
    = f.submit action

= link_to 'Back', stories_path

