<h1>Welcome to RealStories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <% # if params[:sort] == 'desc' then sort = 'asc' else sort = 'desc' end %>
    <th>
      Score
      <%= link_to '^', sort_path(:order => 'best', :time => 'all', :sort => 'asc') %> 
      <%= link_to '\/', sort_path(:order => 'best', :time => 'all', :sort => 'desc') %>
      
    </th>
    <th>
      Created At
      <%= link_to '^', sort_path(:order => 'latest', :time => 'all', :sort => 'asc') %> 
      <%= link_to '\/', sort_path(:order => 'latest', :time => 'all', :sort => 'desc') %>
    </th>
    <th>
      Last Updated
      <%= link_to '^', sort_path(:order => 'lastupdated', :time => 'all', :sort => 'asc') %> 
      <%= link_to '\/', sort_path(:order => 'lastupdated', :time => 'all', :sort => 'desc') %>
    </th>
  </tr>

<% if params[:order] %>
  <tr>
    <th><%= link_to 'Today', sort_path(:order => params[:order], :time => 'today', :sort => params[:sort]) %></th>
    <th><%= link_to 'This Week', sort_path(:order => params[:order], :time => 'week', :sort => params[:sort]) %></th>
    <th><%= link_to 'This Month', sort_path(:order => params[:order], :time => 'month', :sort => params[:sort]) %></th>
    <th><%= link_to 'All Time', sort_path(:order => params[:order], :time => 'all', :sort => params[:sort]) %></th>
  </tr>
<% end %>

<% @stories.each do |story| %>
  <tr>
    <td><%= link_to h(story.title), story %></td>
    <td><%=h story.user.name %></td>
    <td><%= (story.score * 100).to_i.to_s + "%" %></td>
    <td><%= story.created_at %></td>
    <td><%= story.updated_at %></td>
    
  </tr>
<% end %>
</table>

<br />
<% if User.find_by_id(session[:user_id]) %>
<%= link_to 'New story', new_story_path %>
<% end %>