<p>
  <h1><%=h @story.title %></h1>
</p>
<p>
  <b>by:</b>
  <%= image_tag(@story.user.gravatar_url(:size=>25)) %> 
  <%=h @story.user.username %>
</p>  
<p>
  <%=h @story.body %>
</p>
<p>
  <b>Created at:</b>
  <%=h @story.created_at %>
</p>
<p>
  <b>Last updated:</b>
  <%=h @story.updated_at %>
</p>

<div id="chapters">
<% @story.chapters.each do |chapter| %>
<div class="chapter">
<p>
<%=h chapter.chapter_number %>. <%= link_to chapter.chapter_name, chapter_path(@story, chapter) %>
<%if permitted_to? :edit, chapter %>
  <%= link_to 'Edit', edit_story_chapter_path(@story, chapter) %> 
<% end %>
<% if permitted_to? :destroy, chapter %>
  <%= link_to 'Destroy', story_chapter_path(@story, chapter), :confirm => 'Are you sure?', :method => :delete %>
<% end %>
</p>
</div>
<% end %>
<% if permitted_to? :create, :chapters %>
<%= link_to 'Add a chapter', new_story_chapter_path(@story) %>
<% end %>
</div>

<div id="page">
  <% if @page %>
    <%= white_list(RedCloth.new(@page.body, [:filter_styles]).to_html) %>
  <% if @previous_page %>
    <%= link_to '<--', page_url(@story, @previous_page) %>
  <% end %>
    <%= @page.page_number %>
  <% if @next_page %>
    <%= link_to '-->', page_url(@story, @next_page) %>
  <% end %>
  <% else %>
    This chapter has no pages! How sad.
  <% end %>
</div>

<% if @chapter %>
  <% if permitted_to? :create, :pages %>
    <%= link_to 'Add a page to this chapter', new_chapter_page_path(@chapter) %>
  <% end %>
<% end %>

<% unless @story.disable_voting %>
  <p>
    Liked it: <%= @story.votes_for %><br />
    Did not like it: <%= @story.votes_against %><br />
    Score: <%= (@story.score * 100).to_i.to_s + "%" %>
  </p>
  <p>
  <% if permitted_to? :vote, @story %>
    <%= link_to 'I like it (+1)', vote_path(:id => @story.id, :vote => 1) %>
    <%= link_to "I don't like it (-1)", vote_path(:id => @story.id, :vote => 0) %>
  <% end %>
  </p>
<% else %>
  <p><b>Voting has been disabled on this story.</b></p>
<% end %>

<% if permitted_to? :edit, @story %>
  <%= link_to 'Edit', edit_story_path(@story) %> 
<% end %>

<% if permitted_to? :destroy, @story %>
  <%= link_to 'Destroy', @story, :confirm => 'Are you sure?', :method => :delete %>
<% end %>

<% if !@story.disable_commenting || permitted_to? (:remove_all_spam, :stories) %>
  
  <% if @story.comments.size > 0 %>
    <h2>Comments for <%=h @story.title %></h2>   
    <div id="comments">
      <% @comments.each do |comment| %>
          <% if comment.is_approved || permitted_to?( :spam, comment ) %>
            <div class="comment">      
            <p><%=h comment.body %><p>
            <p><%= (comment.score * 100).to_i.to_s + "%" %></p>
            <b><%= image_tag(comment.user.gravatar_url(:size=>25)) %> <%=h comment.user.username %></b></p>
            <% if permitted_to? :edit, comment %>
              <%= link_to 'Edit', edit_story_comment_path(comment.story, comment) %> 
            <% end %>
            <% if permitted_to? :destroy, comment %>
              <%= link_to 'Destroy', story_comment_path(comment.story, comment), :confirm => 'Are you sure?', :method => :delete %> 
            <% end %>
            <% if permitted_to? :spam, comment %>
              <%= link_to 'Spam', spam_path(comment) %> 
            <% end %>
            <% if permitted_to? :ham, comment %>
              <%= link_to 'Ham', ham_path(comment) %>
            <% end %>
            <% if permitted_to? :vote, comment %>
              <%= link_to '+1', vote_comment_path(:id => comment.id, :vote => 1) %>
              <%= link_to '-1', vote_comment_path(:id => comment.id, :vote => 0) %>
            <% end %>
            </div>        
          <% end %>
      <% end %>
    </div>
  <% end %>
  
  
    
  
  <% if permitted_to? :create, :comments %>
    <h3>New comment</h3>
    
    <% form_for([@story, @comment]) do |f| %>
      <%= f.error_messages %>
      <p>
        <%= f.label :body %><br />
        <%= f.text_area :body %>
      </p>
      <p>
        <%= f.submit 'Post' %>
      </p>
    <% end %>
  <% end %>
<% else %>
  <p><b>Commenting has been disabled on this story.<b></p>
<% end %>

<% if permitted_to? :remove_all_spam, :stories %>
  <%= link_to 'Remove all unapproved', remove_all_spam_path(@story) %>
<% end %>  
<%= link_to 'Back', stories_path %>