<p>
  <b>Body:</b>
  <%=h @story.body %>
</p>
<p>
  <b>Author:</b>
  <%=h @story.user.name %>
</p>  

<p>
  Votes for: <%= @story.votes_for %><br />
  Votes against: <%= @story.votes_against %><br />
  Total votes: <%= @story.votes_count %>
</p>

<% if session[:user_id] %>
<p>
<%= link_to 'Cool story, bro (+1)', vote_path(:id => @story.id, :vote => 1) %>
<%= link_to 'This story sucks (-1)', vote_path(:id => @story.id, :vote => 0) %>
</p>
<% end %>

<% if session[:user_id] %>
  <% if session[:user_id].to_i == @story.user.id.to_i  || User.find(session[:user_id]).is_admin? %>
    <%= link_to 'Edit', edit_story_path(@story) %>
  <% end %>
<% end %>

<%= link_to 'Back', stories_path %>