<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>RealStories: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:error] %></p>

<div id="user_nav">
  <% if current_user %>
    <%= link_to 'Edit Profile', edit_user_path(:current) %>
    <%= link_to 'Logout', logout_path %>
  <% else %>
    <%= rpx_popup( :link_text => "Login/Register", :app_name => RPX_APP_NAME, :return_url => user_sessions_url, :unobtrusive => false ) %>
  <% end%>
</div>

<%= yield %>

</body>
</html>
